.add-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px 0;
  padding: 12px 0 19px;
  border-bottom: 1px solid #cdcdcd;
}

.add-item__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $product-title;
  grid-column: 1/3;
  margin: 0;
}

.add-item__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $long-text;
  grid-column: 1/2;
}

.add-item__price {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $long-text;
  grid-column: 2/3;
  text-align: right;
}

.add-item__button {
  grid-column: 1/3;
}

@media (min-width: $tablet-width) {
  .add-item {
    grid-template-columns: auto auto 93px;
    gap: 25px 0;
    padding: 26px 38px 28px;
    border:  1px solid #cdcdcd;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .add-item__title {
    font-size: 20px;
    line-height: 20px;
    grid-row: 1/2;
  }

  .add-item__description {
    font-size: 16px;
    line-height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
  }

  .add-item__price {
    font-size: 16px;
    line-height: 20px;
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .add-item__button {
    grid-column: 1/4;
  }
}

@media (min-width: $desktop-width) {
  .add-item {
    grid-template-columns: 324px 244px 82px 244px;
    gap: 0;
    padding: 14px 0 16px;
    border:  none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    align-items: center;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .add-item__button {
    grid-column: 4/5;
  }

  .add-item__description {
    text-align: left;
  }

  .add-item__price {
    text-align: left;
  }
}
