.add-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px 0;
  padding: 12px 0 19px;
  border-bottom: 1px solid #cdcdcd;
}

.add-item__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $product-title;
  grid-column: 1/3;
  margin: 0;
}

.add-item__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $long-text;
  grid-column: 1/2;
}

.add-item__price {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $long-text;
  grid-column: 2/3;
  text-align: right;
}

.add-item__button {
  grid-column: 1/3;
}
