.address {
  line-height: 0;
  position: relative;

  &--second-bg {
    background-color: $secondary-bg;
  }

  &::after {

  }
}

.address iframe {
  border: none;
  display: block;
  width: 100%;
  height: 362px;
  min-width: 320px;
}

.address__wrapper {
  padding-top: 24px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.address__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $main-font;
  text-transform: uppercase;
  margin: 0;
}

.address__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $long-text;
  margin-left: auto;
}

.address__map {
  display: block;
  width: auto;
  height: 362px;
  line-height: 0;
}

.address__map-image {
  width: 100%;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .address iframe {
    height: 400px;
  }

  .address__wrapper {
    padding: 56px 70px;
    display: grid;
    grid-template-columns: 172px 160px;
    gap: 296px;
  }

  .address__title {
    font-size: 20px;
    line-height: 26px;
    height: auto;
  }

  .address__text {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .address__text-city {
    margin-top: 20px;
    display: block;
  }

  .address__map {
    height: 400px;
  }

  .address__map-image {
    height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: relative;
    background-color: $main-bg;

    &--second-bg {
      background-color: $secondary-bg;
    }
  }

  .address__wrapper {
    padding: 60px 80px 56px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 87px;
    position: absolute;
    top: 95px;
    right: 53%;
    width: auto;
    background-color: $main-bg;
  }

  .address__map {
    height: 400px;
  }

  .address__text {
    text-align: left;
  }
}
