.button {
  color: $main-bg;
  background-color: $content-bg;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  max-width: 100%;
  display: block;
  border: none;
}
