.catalog {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  gap: 14px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 74px 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    gap: 62px 80px;
  }
}
