.form__fieldset {
  padding: 0 20px;
  border: none;
  display: block;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  &--cat-info {
    padding-bottom: 26px;
  }
  &--programs {
    padding-top: 22px;
    padding-bottom: 19px;
  }
  &--owner, &--comment, &--add {
    border-bottom: none;
  }
}

.form__field {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $long-text;
  margin-right: 13px;
  display: block;
  min-width: fit-content;
}

.form__label--checkbox {
  color: $main-font;
}

.form__label--radio {
  color: $product-title;
}

.form__control {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $long-text;
  padding: 13px 15px;
  border: 1px solid #e7e7e7;
  flex-grow: 1;
  box-sizing: border-box;

  &--textarea {
    min-width: 100%;
    resize: none;
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $main-font;
  &--owner {
    margin-top: 26px;
    margin-bottom: 35px;
  }
  &--comment {
    margin: 23px 0 38px;
  }
  &--add {
    margin: 23px 0 34px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    right: 0px;
    top: 40px;
    background-color: #68B738;
  }
  &--owner::after {
    width: 99px;
    top: 44px;
  }
  &--comment::after {
    width: 158px;
  }
  &--add::after {
    width: 136px;
  }
}

.form__radio {
  margin-right: 15px;
}

.form__checkbox {
  margin-right: 18px;
}

.form__button-wrapper {
  padding: 0 20px;
}

.form__text {
  display: block;
  margin: 0 auto;
  max-width: fit-content;
  margin-bottom: 32px;
}

.form__button {
  margin: 34px 0 21px;
  display: block;
  width: 100%;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    padding: 0 30px;
    border-bottom: none;
    &--cat-info {
      padding-bottom: 72px;
    }
    &--programs {
      padding: 25px 0 25px 28px;
      margin: 0 30px;
      border: 1px solid #e7e7e7;
    }
  }

  .form-wrapper {
    &--add {
    width: 565px;
    gap: 0 123px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__field {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
    &--owner {
      margin-top: 71px;
      margin-bottom: 76px;
    }
    &--comment {
      margin: 65px 0 76px;
    }
    &--add {
      margin: 65px 0 57px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 30px;
      left: -40px;
      top: 89px;
      background-color: #68B738;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      right: -20px;
      top: 89px;
      background-color: #68B738;
    }
    &--owner::after {
      width: 145px;
      top: 95px;
    }
    &--comment::after {
      width: 478px;
    }
    &--add::after {
      width: 446px;
    }
  }

  .form__button-wrapper {
    width: 565px;
    padding: 0 40px 0 37px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 61px;
  }

  .form__button {
    margin: 54px 0 72px;
    width: 192px;
    padding: 13px 45px;
    box-sizing: content-box;
  }

  .form__text {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    margin-top: 69px;
  }

  .form__control {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset {
    padding: 0;
    &--cat-info {
      padding-bottom: 0;
    }
    &--programs {
      padding: 25px 0 25px 28px;
      margin: 0;
      border: 1px solid #e7e7e7;
    }
  }

  .form__wrapper {
    &--desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 80px;
    }

    &--owner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 78px;
    }

    &--add {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 104px;
    }
  }

  .form__title {
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 70px;
      left: -110px;
      top: 89px;
      background-color: #68B738;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      right: -110px;
      top: 93px;
      background-color: #68B738;
    }
    &--owner::after {
      width: 778px;
      top: 93px;
    }
    &--comment::after {
      width: 1108px;
    }
    &--add::after {
      width: 1078px;
      top: 91px;
    }
  }

  .form__control {
    padding: 10px 19px;
    border: 1px solid #e7e7e7;
    flex-grow: 1;
    box-sizing: border-box;

    &--textarea {
      min-width: 100%;
      resize: none;
    }
  }

  .form__field {
    &:not(:last-child) {
      margin-bottom: 0px;
    }

    &--cat-info {
      &:not(:last-child) {
        margin-bottom: 13px;
      }
    }

    &--programs {
      &:not(:last-child) {
        margin-bottom: 13px;
      }
    }
  }

  .form__button-wrapper {
    width: auto;
    padding: 00;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 81px;
  }

  .form__button {
    margin: 61px 0 82px;
    width: auto;
    padding: 13px 188px;
    box-sizing: content-box;
  }

  .form__text {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    margin-top: 69px;
  }
}
