.form__fieldset {
  padding: 0;
  border: none;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
  position: relative;

  &--cat-info {
    padding-bottom: 26px;
  }

  &--programs {
    padding-top: 22px;
    padding-bottom: 19px;
  }

  &--owner,
  &--comment,
  &--add {
    border-bottom: none;
  }
}

.form__field {
  display: flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &--cat-info .form__label {
    margin-right: 16px;
  }

  &--email::after,
  &--phone::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 15px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--email::after {
    background-image: url("../img/email.svg");
  }

  &--phone::after {
    background-image: url("../img/phone.svg");
  }
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $long-text;
  margin-right: 13px;
  display: block;
  min-width: fit-content;
}

.form__label--checkbox {
  color: $main-font;
}

.form__label--radio {
  color: $product-title;
}

.form__control {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $long-text;
  padding: 13px 15px;
  border: 1px solid #e7e7e7;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;

  &--textarea {
    resize: none;
    display: block;
    width: 280px;
    padding-right: 12px;
    margin-top: 44px;
    height: 150px;
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $main-font;
  position: relative;
  background-color: $main-bg;
  padding-right: 14px;
  padding-left: 0;
  box-sizing: content-box;
  width: 187px;
  margin: 0;
  transform: translateY(26px);

  &::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 3px;
    background-color: $main-bg;
    top: 22px;
    right: 200px;
  }

  &--comment::before,
  &--add::before {
    top: 14px;
  }
}

.form__radio {
  margin: 0;
  margin-right: 15px;
  appearance: none;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 7px solid $main-bg;
    box-shadow: 0 0 0 1px #cdcdcd;
    background-color: $main-bg;
    box-sizing: border-box;
  }

  &:checked::before {
    background-color: $content-bg;
  }
}

.form__checkbox {
  margin: 0;
  margin-right: 18px;
  appearance: none;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    background-color: $main-bg;
    box-sizing: border-box;
  }

  &:checked::before {
    background-image: url("../img/tick-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__button-wrapper {
  padding: 0 20px;
}

.form__text {
  display: block;
  margin: 0 auto;
  max-width: fit-content;
  margin-bottom: 32px;
}

.form__button {
  margin: 34px 0 21px;
  display: block;
  width: 100%;
  cursor: pointer;
}

.form__wrapper {
  &--line {
    border-bottom: 2px solid #68b738;
    height: 48px;
    position: relative;
  }

  &--line-comment,
  &--line-add {
    height: 40px;
  }

  &--owner {
    margin-top: 63px;
  }

  &--add {
    margin-top: 43px;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    padding: 0 70px;
    margin: 0 auto;
    border-bottom: none;
    display: block;
    width: 628px;
    box-sizing: border-box;

    &--cat-info {
      padding-bottom: 72px;
    }

    &--programs {
      padding: 25px 0 25px 28px;
      border: 1px solid #e7e7e7;
      box-sizing: border-box;
    }

    &--owner,
    &--comment,
    &--add {
      width: 100%;
      padding: 0;
    }
  }

  .form__wrapper {
    &--add {
      width: 631px;
      gap: 0 61px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 69px auto 0;
      box-sizing: content-box;
      padding: 0 70px;
    }

    &--owner {
      padding: 0 70px;
      margin-top: 85px;
    }

    &--line {
      height: 94px;
    }

    &--line-comment {
      height: 85px;
    }

    &--line-add {
      height: 88px;
    }

    &--container {
      box-sizing: border-box;
    }
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__field {
    padding: 0;
    margin: 0;
    max-width: 628px;

    &--programs {
      width: auto;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &--add:nth-child(n) {
      margin-bottom: 32px;
    }
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;

    &--owner {
      margin: 0;
      width: auto;
      transform: translateY(75px);
      display: inline-block;
      padding: 0 42px 0 40px;
    }

    &--comment {
      margin: 0;
      width: auto;
      transform: translateY(65px);
      display: inline-block;
      padding: 0 42px 0 40px;
    }

    &--add {
      margin: 0;
      width: auto;
      transform: translateY(65px);
      display: inline-block;
      padding: 0 42px 0 40px;
    }

    &::before {
      display: none;
    }
  }

  .form__button-wrapper {
    width: 631px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 61px;
  }

  .form__button {
    margin: 24px 0 72px;
    width: 192px;
    padding: 13px 45px;
    box-sizing: content-box;
    font-size: 20px;
  }

  .form__text {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    margin-top: 38px;
  }

  .form__control {
    font-size: 20px;
    line-height: 30px;

    &--textarea {
      width: 631px;
      height: 174px;
      margin-top: 88px;
    }
  }

  .form__radio {
    &::before {
      width: 40px;
      height: 40px;
      border: 10px solid $main-bg;
    }
  }

  .form__checkbox {
    &::before {
      width: 40px;
      height: 40px;
    }

    &:checked::before {
      background-image: url("../img/tick-tablet.svg");
    }
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset {
    padding: 0;

    &--cat-info {
      padding-bottom: 0;
      width: 569px;
    }

    &--programs {
      padding: 25px 0 25px 28px;
      margin: 0;
      border: 1px solid #e7e7e7;
      width: 568px;
    }
  }

  .form__wrapper {
    &--desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 80px;
      margin: 0 auto;
      padding: 0 110px;
      width: 1220px;
    }

    &--owner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 78px;
      padding: 0 110px;
    }

    &--add {
      display: grid;
      grid-template-columns: repeat(4, 221px);
      gap: 0 104px;
      padding: 0 110px;
      margin: 72px auto 0;
      width: 1440px;
      box-sizing: border-box;
    }

    &--container {
      padding: 0;
      width: 1300px;
    }

    &--line {
      height: 89px;
    }
  }

  .form__title {
    padding: 0 110px;

    &--owner,
    &--comment,
    &--add {
      padding: 0 40px;
    }

    &--owner {
      transform: translateY(68px);
    }
  }

  .form__control {
    padding: 10px 19px;
    border: 1px solid #e7e7e7;
    flex-grow: 1;
    box-sizing: border-box;

    &--textarea {
      width: 1220px;
      height: 174px;
      resize: none;
    }
  }

  .form__field {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--cat-info {
      width: 569px;

      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }

    &--programs {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &--add {
      align-items: flex-start;
    }
  }

  .form__button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 81px;
    margin: 0 auto;
    padding: 0 110px;
    width: 1220px;
    box-sizing: content-box;
  }

  .form__button {
    margin: 30px 0 82px;
    width: auto;
    padding: 15px 188px;
    box-sizing: content-box;
  }

  .form__text {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    margin-top: 47px;
  }

  .form__label--checkbox {
    margin-top: 5px;
  }
}
