.gift {
  padding: 0 20px;
}

.gift__wrapper {
  padding: 58px 61px 43px 58px;
  background-image: url("../img/background/gift-cat.jpg");
  text-align: center;
  box-sizing: border-box;
  line-height: 0;
}

.gift__icon {
  margin-bottom: 48px;
}

.gift__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $main-bg;
}
