.instruction {
  width: 320px;
}

.instruction__wrapper {
  margin: 0 20px;
}

.instruction__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $main-font;
}

.instruction__list {
  list-style: none;
  padding: 0;
  margin: 42px auto 49px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $long-text;
}

.instruction__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.instruction__item-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 20px;
}

.instruction__description {
  max-width: 199px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .instruction {
    width: 768px;
  }

  .instruction__wrapper {
    margin: 0 30px;
  }

  .instruction__title {
    font-size: 60px;
    line-height: 60px;
  }
  .instruction__list {
    margin: 72px auto 47px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: list 0;
  }
  .instruction__item {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 40px 0 57px;
    max-width: 250px;
    &::before {
      counter-increment: list;
      content: counter(list);
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: $secondary-bg;
      position: absolute;
      z-index: -1;
      left: 118px;
      top: 0;
    }
  }
  .instruction__item-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 31px;
  }
  .instruction__description {
    max-width: 100%;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .instruction {
    width: 1224px;
  }

  .instruction__wrapper {
    margin: 0;
  }
}

