.instruction {
  margin-bottom: 49px;
}

.instruction__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $main-font;
  margin: 0;
}

.instruction__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $long-text;
}

.instruction__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.instruction__item-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 20px;
}

.instruction__description {
  margin: 0;
  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;

  &::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: $content-bg;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--icon-1::before {
    background-image: url("../img/list-icon-leaves.svg");
  }

  &--icon-2::before {
    background-image: url("../img/list-icon-boil.svg");
  }

  &--icon-3::before {
    background-image: url("../img/list-icon-fork.svg");
  }

  &--icon-4::before {
    background-image: url("../img/list-icon-clock.svg");
  }
}

@media (min-width: $tablet-width) {
  .instruction__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
  }
  .instruction__list {
    margin: 32px 0 0;
    font-size: 16px;
    line-height: 24px;
    display: grid;
    grid-template-columns: 249px 249px;
    gap: 37px 135px;
    width: 633px;
    counter-reset: list 0;
  }
  .instruction__item {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 40px 0 57px;
    max-width: 250px;
    &::before {
      counter-increment: list;
      content: counter(list);
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: $secondary-bg;
      position: absolute;
      z-index: -1;
      left: 118px;
      top: 0;
    }
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  .instruction__item-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 31px;
  }
  .instruction__description {
    max-width: 100%;
    margin: 0;
    display: block;

    &::before {
      display: block;
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

}


@media (min-width: $desktop-width) {
  .instruction {
    margin-bottom: 0;
  }

  .instruction__list {
    grid-template-columns: repeat(4, auto);
    width: 1224px;
    gap: 75px;
  }

  .instruction__title {
    margin-top: 71px;
  }
}
