.main-container {
  &--form {
    border-top: 1px solid #d9d9d9;
  }
}

.main-container__title-container {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.main-container__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $main-font;
  padding-top: 27px;
  padding-bottom: 40px;
  display: block;
  &--form {
    border-bottom: none;
    padding-bottom: 0;
    margin: 0;
  }
}

.main-container__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-font;
  margin: 37px 20px 39px;
  max-width: 226px;

  &--form {
    margin-left: 0;
  }
}

.main-container__gift {
  margin: 35px 0;
}

.main-container__catalog {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .main-container {
    &--form {
      border-top: none;
    }
  }

  .main-container__title-container {
    border: none;
  }

  .main-container__wrapper {
    &--form {
      padding: 0 30px;
  }
}

  .main-container__title {
    font-size: 60px;
    line-height: 60px;
    margin: 64px auto 82px;
    &--form {
      margin-bottom: 54px;
      padding: 0;
      margin-left: 40px;
    }
    &--catalog {
      margin-top: 36px;
      margin-bottom: 55px;
    }
  }

  .main-container__text {
    font-size: 20px;
    line-height: 30px;
    margin: 0 40px 66px;
    max-width: 323px;
  }

  .main-container__catalog {
    margin: 0 auto;
    width: $tablet-width;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .main-container__gift {
    margin: 68px 0 79px;
  }
}

@media (min-width: $desktop-width) {
  .main-container__wrapper {
    &--form {
      padding: 0 110px;
    }
  }

  .main-container__catalog {
    margin: 0 auto;
    width: 1220px;
    padding: 0 110px;
    box-sizing: content-box;
  }

  .main-container__title {
    margin: 74px auto 84px;
    &--form {
      margin: 74px 0 56px;
    }

    &--catalog {
      margin-top: 52px;
      margin-bottom: 46px;
    }
  }

  .main-container__gift {
    display: block;
    margin: 25px 0 0 75px;
  }

  .main-container__support-wrapper {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .main-container__text {
    margin: 0 0 66px;
  }
}
