.main-container {
  width: 320px;
}

.main-container__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $main-font;
  margin: 0;
  padding: 27px 20px 41px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  &--form {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.main-container__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-font;
  margin: 37px 20px 39px;
  max-width: 226px;
}

.main-container__gift {
  margin: 35px 0;
}

@media (min-width: $tablet-width) {
  .main-container {
    width: 768px;
  }

  .main-container__wrapper {
    &--form {
      padding: 0 40px 0 37px;
    }
  }

  .main-container__title {
    font-size: 60px;
    line-height: 60px;
    margin: 41px 30px 82px;
    border: none;
    padding: 0;
    &--form {
      margin-bottom: 54px;
    }
  }

  .main-container__text {
    font-size: 20px;
    line-height: 30px;
    margin: 0 30px 66px;
    max-width: 323px;
  }

  .main-container__catalog {
    margin: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    width: 1440px;
  }

  .main-container__catalog {
    margin: 0 110px;
  }

  .main-container__title {
    margin: 74px 110px 84px;
  }

  .main-container__gift {
    display: block;
    margin: 191px 0 0 79px;
  }

  .main-container__support-wrapper {
    display: flex;
  }
}
