.main-nav {
  background-color: $main-bg;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin-right: 30px;
    margin-top: 42px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    margin-right: 110px;
    margin-top: 69px;
    background-color: transparent;
  }
}
