.main-nav {
  background-color: $main-bg;
  width: 100%;

  &--json {
    display: none;
    position: absolute;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 440px;
    display: inline-block;
    margin: 32px 0 0 94px;

    &--json {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    margin: 69px 0 0 540px;
    background-color: transparent;
  }
}
