.main-container {
  width: 320px;
}

.main-container__wrapper {
  margin: 0 20px;
}

.main-container__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $main-font;
  margin: 27px 0 37px;
}

.main-container__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-font;
  margin-bottom: 39px;
}

.main-container__gift {
  margin: 35px 0;
}

@media (min-width: $tablet-width) {
  .main-container {
    width: 768px;
  }

  .main-container__wrapper {
    margin: 0 30px;
  }
}

@media (min-width: $tablet-width) {
  .main-container {
    width: 1320px;
  }

  .main-container__wrapper {
    margin: 0 50px;
  }
}
