.main-header {
  background-color: $main-bg;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-font;
  display: flex;
  justify-content: space-between;
  width: 320px;
  flex-wrap: wrap;

}

.main-header__wrapper {
  margin: 0 20px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 17px;
}

.main-header__logo {
  width: 34px;
  height: 38px;
  background-image: url("../img/logo-mobile.svg");
  &--add {
    background-image: url("../img/logo-text.svg");
    width: 101px;
    height: 18px;
  }
  background-repeat: no-repeat;
}

.main-header__toogle {
  width: 24px;
  height: 18px;
  background-image: url("../img/toogle-open.svg");
  border: none;
  background-color: $main-bg;
  cursor: pointer;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main-header__toogle:hover {
  background-image: url("../img/toogle-close.svg");
  transition: 0.2s;
}

.main-header__nav {
  display: none;
}

.main-header__toogle:hover + .main-header__nav {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-header {
    width: 768px;
    background-color: transparent;
  }
  .main-header__wrapper {
    margin: 0 30px;
    width: 174px;
    padding: 24px 0;
  }
  .main-header__logo {
    width: 174px;
    height: 52px;
    background-image: url("../img/logo-tablet.svg");
    &--add {
      display: none;
    }
    margin-left: 0;
  }
  .main-header__toogle {
    display: none;
  }
  .main-header__nav {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1440px;
  }
  .main-header__wrapper {
    margin: 0 110px;
    width: 202px;
    padding: 53px 0;
  }
  .main-header__logo {
    width: 202px;
    height: 59px;
    background-image: url("../img/logo-desktop.svg");
    &--add {
      display: none;
    }
    margin-left: 0;
  }
  .main-header__toogle {
    display: none;
  }
  .main-header__nav {
    display: block;
  }
}

