.product-card-all {
  padding: 6px 0 25px;
  border-bottom: 1px solid #ebebeb;
}

.product-card-all__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  display: block;
  margin-top: 10px;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto 23px;
  }
}

.product-card-all__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $long-text;
  text-align: center;
  display: block;
  margin: 9px 0 21px;
}

.product-card-all__button {
  background-color: $secondary-bg;
  color: $long-text;
}

.product-card-all__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .product-card-all {
    padding: 69px 0 0;
    border-bottom: 1px solid #ebebeb;
  }

  .product-card-all__wrapper {
    margin: 0;
    padding: 52px 37px 38px 38px;
    border: 2px solid #f2f2f2;
    width: auto;
  }

  .product-card-all__image {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .product-card-all__title {
    font-size: 20px;
    line-height: 22px;
    margin: 0 auto;
    max-width: 135px;

    &::before {
      width: 60px;
      height: 60px;
      background-size: cover;
      margin-bottom: 43px;
    }
  }

  .product-card-all__description {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    margin: 23px auto 87px;
  }
}

@media (min-width: $desktop-width) {
  .product-card-all {
    padding-top: 81px;
  }

  .product-card-all__wrapper {
    padding: 52px 37px 38px 38px;
  }

  .product-card-all__title {
    &::before {
      margin-bottom: 49px;
    }
  }
}
