.product-card-all {
  padding: 6px 0 25px;
  border-bottom: 1px solid #EBEBEB;
}

.product-card-all__wrapper {
  margin: 0 20px;
}

.product-card-all__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  display: block;
  margin-top: 53px;
  text-align: center;
}

.product-card-all__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $long-text;
  text-align: center;
  display: block;
  margin: 9px 0 21px;
}

.product-card-all__button {
  background-color: $secondary-bg;
  color: $long-text;
}

.product-card-all__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .product-card-all {
    padding: 81px 0 0;
    border-bottom: 1px solid #EBEBEB;
  }

  .product-card-all__wrapper {
    margin: 0;
    padding: 52px 37px 38px 38px;
    border: 2px solid #f2f2f2;
  }

  .product-card-all__image {
    width: 60px;
    height: 60px;
  }

  .product-card-all__title {
    font-size: 20px;
    line-height: 22px;
    margin: 0 auto;
    margin-top: 49px;
    max-width: 135px;
  }

  .product-card-all__description {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
    margin: 23px auto 87px;
  }

}
