.product-card {
  border-bottom: 1px solid #ebebeb;
}

.product-card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 69px 40px;
  padding-bottom: 25px;
}

.product-card__link-image {
  grid-row: 1/3;
  grid-column: 1/2;
}

.product-card__image {
  display: block;
  margin: 14px auto 0;
  align-items: center;
  &--big {
    margin-top: 11px;
    width: 84px;
    height: 100px;
  }

  &--center {
    margin-top: 28px;
  }
}

.product-card__link-text {
  grid-row: 1/2;
  grid-column: 2/3;
  text-decoration: none;
  display: block;
  margin-top: 6px;
}

.product-card__stats {
  grid-row: 2/3;
  grid-column: 2/3;
}

.product-card__button {
  grid-row: 3/4;
  grid-column: 1/3;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $product-title;
  text-transform: uppercase;
  max-width: 90px;
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .product-card {
    padding: 0 37px;
    position: relative;
    border: none;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 324px;
      height: 430px;
      left: 0px;
      bottom: 0px;
      background-color: #f2f2f2;
      z-index: -1;
    }
  }

  .product-card__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 231px 66px 121px 40px;
    padding: 0;
    padding-bottom: 39px;
    width: 252px;
    margin: 0;
  }

  .product-card__link-image {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .product-card__image {
    width: 161px;
    height: 172px;
    display: block;
    margin: 24px auto 0;

    &--big {
      width: 168px;
      height: 200px;
      margin-top: 0px;
    }
  }

  .product-card__link-text {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0 auto;
    line-height: 0;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    text-align: center;
  }

  .product-card__stats {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 0;
    margin-bottom: 33px;
  }

  .product-card__button {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    padding: 0 40px 0 36px;
    position: relative;
    border: none;
    height: 511px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 245px;
      height: 431px;
      left: 0;
      bottom: 0;
      background-color: #f2f2f2;
      z-index: -1;
    }
  }

  .product-card__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 198px 110px 121px 40px;
    padding-bottom: 39px;
    width: auto;
    margin: 0 auto;
  }

  .product-card__image {
    width: 161px;
    height: 172px;
    display: block;
    margin: 28px auto 0;

    &--big {
      width: 172px;
      height: 202px;
      margin-top: 1px;
    }
  }

  .product-card__title {
    line-height: 21px;
  }

  .product-card__stats {
    width: 162px;
    margin: 0 auto 33px;
  }

  .product-card__link-text {
    margin-top: 43px;
    margin-left: 13px;
  }
}
