.programs {
  margin-bottom: 20px;
}

.programs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.programs__item {
  margin: 20px auto;
}

@media (min-width: $tablet-width) {
  .programs {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    margin-top: 82px;
  }
}
