.programs {
  width: 320px;
}

.programs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding: 20px;
}

.programs__item {
  margin: 20px auto;
}

@media (min-width: $tablet-width) {
  .programs {
    width: 768px;
  }
  .programs__list {
    padding: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 1320px;
  }
  .programs__list {
    padding: 50px 0;
  }
}
