.program {
  max-width: 100%;
  background-color: $secondary-bg;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  &:not(:last-child) {
    margin: 0 0 20px;
  }
  padding: 21px 20px 18px 22px;
}

.program__icon {
  &--lose-weight {
    margin-right: 19px;
  }
  &--take-weight {
    margin-right: 11px;
    margin-left: -9px;
  }
}

.program__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  margin: 0;
}

.program__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $long-text;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  margin: 22px 0 15px;
}

.program__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $main-font;
  text-decoration: none;
  display: inline-block;
}

.program__link-text {
  margin-right: 15px;
}

@media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
  .program {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 372px;
    width: 708px;
    padding: 77px 28px 53px 53px;
    box-sizing: border-box;
    &:not(:last-child) {
      margin: 0 0 30px;
    }
  }
  .program__icon {
    margin: 0;
    &--lose-weight {
      width: 200px;
      order: 4;
    }
    &--take-weight {
      width: 268px;
      order: 4;
    }
  }
  .program__title {
    font-size: 36px;
    line-height: 36px;
  }
  .program__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    border-bottom: none;
    box-sizing: border-box;
    max-width: 340px;
    margin: 24px 0 48px;
  }
  .program__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;
    height: 374px;
    padding: 41px 51px 55px 52px;
    box-sizing: border-box;
    &:not(:last-child) {
      margin: 0;
    }
  }
  .program__icon {
    &--lose-weight {
      width: 100px;
      margin-right: 62px;
    }
    &--take-weight {
      width: 134px;
      margin-right: 47px;
      margin-left: -19px;
    }
  }
  .program__title {
    font-size: 36px;
    line-height: 36px;
  }
  .program__description {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    box-sizing: border-box;
    margin: 39px 0 23px;
  }
  .program__link {
    font-size: 20px;
    line-height: 30px;
  }
}
