.program {
  max-width: 100%;
  background-color: $secondary-bg;
  align-items: center;
  margin: 0;
  position: relative;

  &:not(:last-child) {
    margin: 0 0 20px;
  }
  padding: 21px 20px 18px 22px;
}

.program__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin: 0;
  margin-left: 69px;
  margin-top: 9px;
  display: block;

  &--take-weight {
    margin-top: 14px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
  }

  &--lose-weight::before {
    top: 21px;
    left: 22px;
    width: 50px;
    height: 53px;
    background-image: url("../img/program-lose-weight.svg");
  }

  &--take-weight::before {
    top: 29px;
    left: 14px;
    width: 67px;
    height: 50px;
    background-image: url("../img/program-take-weight.svg");
  }
}

.program__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $long-text;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  margin: 29px 0 19px;
}

.program__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $main-font;
  text-decoration: none;
  display: block;
}

.program__link-text {
  margin-right: 13px;
}

@media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
  .program {
    align-items: flex-start;
    height: auto;
    width: 708px;
    padding: 77px 28px 58px 53px;
    box-sizing: border-box;

    &:not(:last-child) {
      margin: 0 0 30px;
    }
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    max-width: 350px;

    &--lose-weight::before {
      top: 81px;
      left: 446px;
      width: 200px;
      height: 211px;
      background-image: url("../img/program-lose-weight.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--take-weight::before {
      top: 91px;
      left: 412px;
      width: 268px;
      height: 200px;
      background-image: url("../img/program-take-weight.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .program__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    border-bottom: none;
    box-sizing: border-box;
    max-width: 340px;
    margin: 15px 0 48px;
  }

  .program__link {
    font-size: 20px;
    line-height: 30px;
  }

  .program__link-text {
    margin-right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;
    height: auto;
    padding: 77px 51px 55px 52px;
    box-sizing: border-box;

    &:not(:last-child) {
      margin: 0;
    }
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 162px;
    margin-top: 0;

    &--lose-weight::before {
      top: 41px;
      left: 52px;
      width: 100px;
      height: 106px;
      background-image: url("../img/program-lose-weight.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--take-weight::before {
      top: 47px;
      left: 33px;
      width: 134px;
      height: 100px;
      background-image: url("../img/program-take-weight.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .program__description {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    box-sizing: border-box;
    margin: 61px 0 18px;
    padding-bottom: 0;
  }

  .program__link {
    font-size: 20px;
    line-height: 30px;
  }

  .program__link-text {
    margin-right: 26px;
  }
}
