.promo {
  font-family: "Oswald", sans-serif;
  color: $main-bg;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;
  }
}

.promo__wrapper {
  background-image: url("../img/background/main-cat.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/main-cat@2x.jpg");
  }
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 27px 0 25px;
  display: inline-block;
}

.promo__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  &::after {
    content: "";
    display: block;
    width: 280px;
    height: 270px;
    background-image: url("../img/main-product-mobile.png");
    background-repeat: no-repeat;
    background-size: 280px auto;
    z-index: 2;
    margin: 29px auto 3px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-product-mobile@2x.png");
    }
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
    margin: 0;

    &::before {
      display: none;
    }
  }

  .promo__wrapper {
    background-image: url("../img/main-product-tablet.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 526px;
    background-size: 709px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-product-tablet@2x.png");
    }
  }

  .promo__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $main-font;
    width: 420px;
    margin: 62px 0 41px 89px;
    display: inline-block;
    text-align: left;
  }

  .promo__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 49px 89px;
    color: $main-font;
    display: block;

    &::after {
      content: "";
      display: none;
    }
  }

  .promo__button {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    width: 244px;
    display: block;
    margin-left: 89px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-image: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 50%;
      height: 694px;
      background-image: url("../img/background/main-cat-desktop.jpg");
      background-color: rgba(104, 183, 56, 0.85);
      background-repeat: no-repeat;
      background-size: 720px auto;
      z-index: -1;
      top: 0;
      right: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/main-cat-desktop@2x.jpg");
      }
    }
    background-color: transparent;
  }

  .promo__wrapper {
    background-image: url("../img/main-product-desktop.png");
    background-position: 558px 33px;
    background-repeat: no-repeat;
    z-index: 3;
    padding-bottom: 185px;
    background-size: 552px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-product-desktop@2x.png");
    }
  }

  .promo__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $main-font;
    width: 420px;
    margin: 114px 0 40px 80px;
    display: inline-block;
    text-align: left;
  }

  .promo__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 52px 80px;
    color: $main-font;
    display: block;

    &::after {
      content: "";
      display: none;
    }
  }

  .promo__button {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    display: block;
    width: 244px;
    margin-left: 81px;
  }
}
