.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8px 8px 12px;
  max-height: 44px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  gap: 6px 0;
  align-items: flex-start;
}

.stats__item-title {
  color: $long-text;
}

.stats__item-value {
  text-align: end;
  margin: 0;
  color: $long-text;
}

@media (min-width: $tablet-width) {
  .stats {
    grid-template-rows: auto auto auto;
    grid-row: 3/4;
  }

  .stats__item-title {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 6px;
    padding-top: 5px;
    font-size: 16px;
    line-height: 16px;
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-top: 7px;
    }
  }

  .stats__item-value {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 6px;
    padding-top: 5px;
    font-size: 16px;
    line-height: 16px;
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-top: 7px;
    }
  }
}
