// Начните писать стили здесь
@import "./colors.scss";
@import "./fonts.scss";
@import "./width.scss";
@import "./blocks/container.scss";
@import "./blocks/add-item.scss";
@import "./blocks/additional.scss";
@import "./blocks/address.scss";
@import "./blocks/button.scss";
@import "./blocks/catalog.scss";
@import "./blocks/copyright.scss";
@import "./blocks/example.scss";
@import "./blocks/form.scss";
@import "./blocks/gift.scss";
@import "./blocks/instruction.scss";
@import "./blocks/main-container.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/page.scss";
@import "./blocks/product-card-all.scss";
@import "./blocks/product-card.scss";
@import "./blocks/programs.scss";
@import "./blocks/promo.scss";
@import "./blocks/site-list.scss";
@import "./blocks/social.scss";
@import "./blocks/stats.scss";
@import "./blocks/vissually-hidden.scss";
@import "./blocks/program.scss";

